.classes {
  // background-color: var(--color-secondary);
  grid-column: container-start / container-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

  &__heading {
    display: grid;
    grid-column: span 3;
    height: 75vh;
    background: linear-gradient(
        217deg,
        rgba(232, 249, 231, 0.8),
        rgba(213, 243, 130, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(9, 15, 9, 0.8), rgba(6, 9, 6, 0) 70.71%),
      linear-gradient(336deg, rgba(1, 1, 37, 0.8), rgba(0, 0, 12, 0) 70.71%);
    &--title {
      @extend %sec-heading;
      text-align: center;
      padding: 30vh;
    }
  }

  &__content {
    display: grid;

    grid-gap: 2vw;
    padding: 2rem 4rem;
    height: auto;
    align-items: center;
    border-style: double;
    @extend %bg;
    grid-template-rows: 1 / -1;
    background: linear-gradient(
        217deg,
        rgba(17, 232, 9, 0.8),
        rgba(187, 255, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(
        336deg,
        rgba(149, 149, 239, 0.8),
        rgba(71, 71, 87, 0) 70.71%
      );

    &--title {
      font-weight: font-weight(font-weight-bold) !important;
      text-align: center;
      position: relative;
      align-self: end;
      z-index: 1;
    }

    &--title::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--color-primary-m);
      z-index: -1;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s ease-in-out;
    }

    &:hover &--title::before,
    &:active &--title::before {
      transform: scaleX(1);
      transform-origin: left;
    }

    &--para {
      @extend %sec-para;
      font-weight: font-weight(font-weight-medium);
      background-color: var(--color-primary-m);
      padding: 1rem;
      text-align: center;
    }

    &--link:link,
    &--link:visited {
      padding: 1rem 1.7rem;
      justify-self: start;
      position: relative;
      overflow: hidden;
      transition: all 0.5s ease-in-out;

      span {
        position: absolute;
        display: block;
      }

      span:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 0.5rem;
        background-image: linear-gradient(
          90deg,
          transparent,
          var(--color-primary)
        );
        animation: border1 1s linear infinite;
        animation-delay: 0s;
      }

      span:nth-child(3) {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.5rem;
        background-image: linear-gradient(
          270deg,
          transparent,
          var(--color-primary)
        );
        animation: border3 1s linear infinite;
        animation-delay: 0s;
      }

      span:nth-child(2) {
        top: 0;
        right: 0;
        height: 100%;
        width: 0.5rem;
        background-image: linear-gradient(
          180deg,
          transparent,
          var(--color-primary)
        );
        animation: border2 1s linear infinite;
        animation-delay: 0.5s;
      }

      span:nth-child(4) {
        top: 0;
        left: 0;
        height: 100%;
        width: 0.5rem;
        background-image: linear-gradient(
          360deg,
          transparent,
          var(--color-primary)
        );
        animation: border4 1s linear infinite;
        animation-delay: 0.5s;
      }
    }

    &--link:hover,
    &--link:active {
      background-color: var(--color-primary);
    }
  }

  //*-*-*-*-*-*-*-*-*-*-- The 400px Mark Break Point *-*-*-*-*-*-*-*-*-*-*
  @include media-small {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

@keyframes border1 {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes border3 {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

@keyframes border2 {
  0% {
    top: -100%;
  }

  100% {
    top: 100%;
  }
}

@keyframes border4 {
  0% {
    top: 100%;
  }

  100% {
    top: -100%;
  }
}
