//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* The 800px Mark Break Point *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
@mixin media-desktop {
  @media screen and (min-width: break-point(break-point-desktop)) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (max-width: break-point(break-point-tablet)) {
    @content;
  }
}
@mixin media-medium {
  @media screen and (max-width: break-point(break-point-medium)) {
    @content;
  }
}
@mixin media-small {
  @media screen and (max-width: break-point(break-point-small)) {
    @content;
  }
}

::selection {
  background-color: var(--color-primary);
}

@import "./sass/reset";
@import "./sass/variables";
@import "./sass/utilities";
@import "./sass/header";
@import "./sass/clients";
@import "./sass/features";
@import "./sass/footer";
@import "./sass/motto";
@import "./sass/register";
@import "./sass/testimonials";
@import "./sass/trainer";
@import "./sass/showCase";
@import "./sass/about";
@import "./sass/contact";
@import "./sass/classes";
@import "./sass/classDetails";
//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* place holder styles *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
%bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

//section paddong
%sec-padding {
  padding: 6vh 4vh;
}

//styles for section heading(h2)
%sec-heading {
  font-size: font-size(font-size-medium);
  font-weight: font-weight(font-weight-light);
  letter-spacing: 0.2rem;
  color: var(--color-quinary);
}
//styles for section paragraph(p)
%sec-para {
  font-size: font-size(font-size-small);
  font-family: "Balsamiq Sans", cursive;
  letter-spacing: 0.2rem;
  color: var(--color-quinary);
}
//styles for h3
%sec-h3 {
  font-size: font-size(font-size-small);
  color: var(--color-quinary);
}
//styles for h4
%sec-h4 {
  color: var(--color-quinary);
}

//************************** Scroll to top button *******************
.scroll {
  position: fixed;
  bottom: 70rem;
  right: 4rem;
  height: 4rem;
  width: 4rem;
  background-image: url("./assets/img/scroll/scroll.svg");
  background-repeat: no-repeat;
  background-color: var(--color-secondary-m);
  background-size: contain;
  background-position: center;
  padding: 1rem;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.active {
  visibility: visible;
  opacity: 1;
  bottom: 4rem;
}

//*-*-*-*-*-*- Dark Mode Smooth Transition For All HTML Elements -*-*-*-*-*-*-*
html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.9s !important;
  transition-delay: 0 !important;
}
